In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("spotify_millsongdata.csv")

In [16]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [17]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [18]:
df.shape

(57650, 4)

In [19]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [20]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [21]:
df.head(10)

,artist,song,text
0,Iron Maiden,The Fallen Angel,Azazel is beside you and he's playing the game...
1,Heart,How Beautiful,Winter in the city The year is running dry New...
2,Jimi Hendrix,Woodstock Festival,"500,000 halos ... \r\nOutshined the mud and h..."
3,NOFX,August 8Th,Birds sing there's not a cloud in the sky Augu...
4,Green Day,Horseshoes and Handgrenades,I'm not fucking around \r\nI think I'm coming...
5,Cyndi Lauper,Five Days,The five to fours can't take it no more \r\nT...
6,Isley Brothers,Secret Lover,[Intro] \r\nLa da da da da la da da \r\nOh y...
7,Pretenders,Louie Louie,Shh... Here they come \r\nNow Louie Louie had...
8,New Order,Who's Joe?,Hey Joe what you doing? \r\nIt seems like it'...
9,Otis Redding,Lucille,"Lucille, won't you do your sister's will? \r\..."

In [22]:
df['text'][0]

"Azazel is beside you and he's playing the game  \r\nDemons are inside you and they're making their play  \r\nWatching and they're hiding as they wait for the time  \r\nFor a devil to get ready and take over your mind  \r\n  \r\nYou and only god would know what could be done  \r\nYou and only god will know I am the only one  \r\nYou and only god would know what could be done  \r\nYou and only god will know I am the chosen one  \r\n  \r\nCould it be it's the end of our world?  \r\nAll the things that we cherish and love  \r\nNothing left but to face this all on my own  \r\nCause I am the chosen one  \r\n  \r\nCould it be it's the end of our world?  \r\nAll the things that we cherish and love  \r\nNothing left but to face this all on my own  \r\nCause I am the chosen one  \r\n  \r\nBeaten fallen angel but I've risen again  \r\nAnd the power is inside me, I've decided to pray  \r\nAs I wait for Armageddon and it's coming my way  \r\nIt's an honour to be chosen and I wait for the day  \r\n  \r\nYou and only god would know what could be done  \r\nYou and only god will know I am the only one  \r\nYou and only god would know what could be done  \r\nYou and only god will know that I am the chosen one  \r\n  \r\nCould it be it's the end of my world?  \r\nAll the things that we cherish and love  \r\nNothing left but to face all this on my own  \r\nCause I am the chosen one  \r\n  \r\nCould it be it's the end of our world?  \r\nAll the things that we cherish and love  \r\nNothing left but to face this all on my own  \r\nCause I am the chosen one  \r\n  \r\nCould it be it's the end of our world?  \r\nAll the things that we cherish and love  \r\nNothing left but to face this all on my own  \r\nCause I am the chosen one  \r\n  \r\nCould it be it's the end of our world?  \r\nAll the things that we cherish and love  \r\nNothing left but to face this all on my own  \r\nCause I am the chosen one\r\n\r\n"

In [23]:
df.shape

(5000, 3)

Text Cleaning / Text Processing

In [25]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n',' ', regex = True)

In [26]:
df['text'][0]

"azazel is beside you and he's playing the game  \r demons are inside you and they're making their play  \r watching and they're hiding as they wait for the time  \r for a devil to get ready and take over your mind  \r   \r you and only god would know what could be done  \r you and only god will know i am the only one  \r you and only god would know what could be done  \r you and only god will know i am the chosen one  \r   \r could it be it's the end of our world?  \r all the things that we cherish and love  \r nothing left but to face this all on my own  \r cause i am the chosen one  \r   \r could it be it's the end of our world?  \r all the things that we cherish and love  \r nothing left but to face this all on my own  \r cause i am the chosen one  \r   \r beaten fallen angel but i've risen again  \r and the power is inside me, i've decided to pray  \r as i wait for armageddon and it's coming my way  \r it's an honour to be chosen and i wait for the day  \r   \r you and only god would know what could be done  \r you and only god will know i am the only one  \r you and only god would know what could be done  \r you and only god will know that i am the chosen one  \r   \r could it be it's the end of my world?  \r all the things that we cherish and love  \r nothing left but to face all this on my own  \r cause i am the chosen one  \r   \r could it be it's the end of our world?  \r all the things that we cherish and love  \r nothing left but to face this all on my own  \r cause i am the chosen one  \r   \r could it be it's the end of our world?  \r all the things that we cherish and love  \r nothing left but to face this all on my own  \r cause i am the chosen one  \r   \r could it be it's the end of our world?  \r all the things that we cherish and love  \r nothing left but to face this all on my own  \r cause i am the chosen one\r \r "

In [28]:
df.tail(5)

,artist,song,text
4995,UB40,All I Want To Do,[chorus] \r i don't like the work but true i ...
4996,John Prine,Sam Stone,"sam stone came home, \r to the wife and famil..."
4997,Bee Gees,Love So Right,she came on like the night and she held on tig...
4998,Gucci Mane,Heavy,"gucci, gucci \r whats up corey \r back in th..."
4999,Tears For Fears,Break It Down Again,break it down again. \r so those are my dream...

In [41]:
import nltk
from nltk.stem.porter import PorterStemmer
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\memir\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [42]:
stemmer = PorterStemmer()

In [43]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [44]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [55]:
df['text'].apply(lambda x: token(x))

0       azazel is besid you and he 's play the game de...
1       winter in the citi the year is run dri new yea...
2       500,000 halo ... outshin the mud and histori ....
3       bird sing there 's not a cloud in the sky augu...
4       i 'm not fuck around i think i 'm come out all...
                              ...
4995    [ choru ] i do n't like the work but true i ne...
4996    sam stone came home , to the wife and famili a...
4997    she came on like the night and she held on tig...
4998    gucci , gucci what up corey back in the trap !...
4999    break it down again . so those are my dream an...
Name: text, Length: 5000, dtype: object

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [58]:
tfid = TfidfVectorizer(analyzer = 'word', stop_words = 'english')

In [59]:
matrix = tfid.fit_transform(df['text'])

In [63]:
similar = cosine_similarity(matrix)

In [64]:
similar[0]

array([1.        , 0.04137212, 0.03637672, ..., 0.0462166 , 0.00882395,
       0.04530079])

In [66]:
df[df['song'] == 'All I Want To Do'].index[0]

4995

Recommender Function

In [69]:
def recommender(song):
    idx = df[df['song'] == song].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [70]:
recommender('All I Want To Do')

['Money',
 "Say It Isn't True",
 "I Wouldn't Wanna Be You",
 "Don't Worry Baby (An All Star Tribute To Brian Wilson)",
 'Everything She Wants',
 "Don't Worry Baby",
 'Never Let You Go',
 'The Last Time',
 'I Wish',
 'Island In The Sun',
 'Only You',
 'Paraniod',
 'Peace Of Mind',
 'I Wish You Love',
 'Coney Island Steeplechase',
 "Can't Take That Away",
 'Three Little Birds',
 'All My Life',
 "Wouldn't Want It Any Other Way",
 'Vasoline']

In [71]:
import pickle

In [72]:
pickle.dump(similar, open("similarity", "wb"))

In [73]:
pickle.dump(df, open("df", "wb"))